html, body {
	background-color: #fff;
	color: #555;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	padding: 20px;
}

table {
	margin-top: 20px;
	margin-bottom: 15px;
	border-spacing: 0;
    border-collapse: collapse;
	background-color: #fdfdfd;
	border: 2px solid #000;
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 34px;
	height: 34px;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 20px;
}

td {
	border: 1px solid #777;
}

.R3 td, .R6 td {
	border-bottom-color: #000;
	border-bottom-width: 2px;
}

.C3, .C6 {
	border-right-color: #000;
	border-right-width: 2px;
}

td.fix {
	font-weight: bold;
}

td.selected {
	background-color: #ff0;
	border-color: #000;
}

td.error {
	background-color: #fd8585;
}

button {
	border-radius: 3px;
	border: 0;
	color: #fff;
}

.actionbutton {
	background-color: #9100be;
	padding: 5px;
}

.switchbutton {
	background-color: #019f4b;
	padding: 5px;
}

.actionbutton.unselected, .switchbutton.unselected {
	background-color: #555;
}

.actionbutton.disabled {
	background-color: #999;
}

.numberbutton {
	width: 40px;
	height: 40px;
	background-color: #4c00ff;
	margin: 1px;
}

.markbutton {
	width: 40px;
	height: 40px;
	background-color: #00a4ff;
	padding: 0;
	font-size: 80%;
	padding-bottom: 12px;
    padding-right: 20px;
	margin: 1px;
}

.markbutton.selected {
	background-color: #999;
}

.m {
	position: absolute;
	font-size: 10px;
	line-height: 10px;
	top: 1px;
	left: 1px;
}

#infomessage {
	position: fixed;
	top: 100px;
	left: 50%;
	width: 200px;
	background-color: #00a4ff;
	color: #fff;
	border: 2px solid #555;
	border-radius: 3px;
	margin-left: -110px;
	padding: 10px;
}

#infomessage button {
	margin-top: 20px;
}

.switchbutton.left {
	margin-right: 0px;
	border-right: 0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.switchbutton.right {
	margin-left: 0px;
	border-left: 0px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#controls {
	background-color: #ddd;
	border-radius: 3px;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#controlbuttons {
	margin-bottom: 20px;
	padding: 2px;
	background-color: #aaa;
}

#specialbuttons {
	margin-top: 10px;
	padding: 10px;
}