html, body {
	background-color: #fff;
	color: #555;
	font-family: helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-align: center;
}

#board {
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #fdfdfd;
	border: 0px solid #000;
	padding: 0;
	font-family: monospace;
}

.cell {
	width: 34px;
	height: 34px;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 20px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: middle;	
	border-radius: 0;
	margin-left: -1px;
	margin-bottom: -1px;
}

.m {
	position: absolute;
	font-size: 11px;
	top: 1px;
	left: 2px;
	bottom: 1px;
	right: 1px;
	word-break: break-all;
	text-align: left;
}

.c {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	line-height: 32px;
	font-size: 11px;
	text-align: center;
	word-break: break-all;
}

.c span {
	display: inline-block;
  	line-height: normal;
}

@media only screen and (min-width: 800px) {
	.cell {
		width: 50px;
		height: 50px;
		font-size: 25px;
	}

	.cell .number {
		padding-top: 6px !important;
	}

	.c {
		font-size: 15px;
		line-height: 50px !important;
	}

	.m {
		font-size: 15px;
	}
}

.cell .number {
	padding-top: 2px;
}

.R9 .cell {
	border-bottom-color: #000;
}

.R1 .cell, .R4 .cell, .R7 .cell {
	border-top-color: #000;
}

.C9 {
	border-right-color: #000;
}

.C4, .C7 {
	border-left-color: #000;
}

.C1 {
	border-left-color: #000;
	border-left-width: 1px;
}

.cell.fix {
	font-weight: 900;
	color: #000;
}

.border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid #005abe;
}

.cell .border {
	display: none;
}

.cell.selected .border {
	display: inline-block;
}

.cell.error {
	background-color: #fd8585;
}

button {
	border-radius: 3px;
	border: 0;
	color: #fff;
	padding: 5px;
}

.actionbutton {
	background-color: #9100be;
}

.switchbutton {
	background-color: #00871b;
}

.actionbutton.unselected, .switchbutton.unselected {
	background-color: #555;
	color: #fff;
}

.actionbutton.disabled {
	background-color: #999;
}

button.small {
	padding: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.numberbutton, .markbutton, .centerbutton, .colorbutton {
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 1px;
}

.numberbutton, .markbutton, .centerbutton {
	background-color: #00a4ff;
}

.blue {
	background-color: #5cc2f9;
}

.red {
	background-color: #fe8080;
}

.green {
	background-color: #a6fe80;
}

.yellow {
	background-color: #f8fe80;
}

.grey {
	background-color: #b3b3b3;
}

.numberbutton {
	font-size: 15px;
}

.markbutton {
	font-size: 80%;
	padding-bottom: 12px;
    padding-right: 20px;
}

.markbutton.selected {
	background-color: #999;
}

.centerbutton {
	font-size: 80%;
}

.centerbutton.selected {
	background-color: #999;
}

#infomessage {
	position: fixed;
	top: 100px;
	left: 50%;
	width: 250px;
	background-color: #777;
	color: #fff;
	border-radius: 3px;
	margin-left: -110px;
	padding-bottom: 10px;
}

#infomessage button {
	margin-top: 20px;
}

#infomessageheader {
	background-color: #4a4a4a;
	text-align: right;
	padding: 5px;
	margin-bottom: 15px;
}

a {
	cursor: pointer;
}

.switchbutton.left {
	border-left-color: #00871b;
	margin-right: 0px;
	border-right: 0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.switchbutton.middle {
	margin-right: 0px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.switchbutton.right {
	margin-left: 0px;
	border-left: 0px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#controls {
	background-color: #ddd;
	border-radius: 6px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#controlbuttons {
	margin-bottom: 20px;
}

#controlbuttons button {
	width: 75px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#specialbuttons {
	margin-top: 10px;
	padding: 10px;
}

button img {
	vertical-align: middle;
}

.topbuttons {
	padding: 5px;
}

.highlighted {
	background-color: #f6b44e;
}