body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
}

header {
	font-family: monospace;
	font-size: 150%;
	color: #9e9e9e;
	text-align: center;
	margin-bottom: 20px;
	background-color: #222;
	border-bottom: 1px solid #444;
	padding: 10px;
}

#main {
	margin-bottom: 90px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #222;
	border-top: 1px solid #444;
	font-size: 90%;
	padding: 5px;
	color: #9e9e9e;
}

.container {
  margin: auto;
  max-width: 500px;
}

a, a:hover, a:visited, a:active, a:link {
	color: #fff;
}

@media (max-height: 650px) { 
	body {
		font-size: 12px;
	}
		
	header {
		padding: 0px;
		margin-bottom: 10px;
	}
}
